<header>
    <h1> Meus Im贸veis</h1>

    <nav>
        <%= link_to('Voltar', root_path)%>
        <hr>
    </nav>
</header>

<main>
    <div>
        <% if @properties.empty? %>
            <div>
                <span>Voc锚 ainda n茫o cadastrou im贸veis</span>
                <%= link_to("Cadastre seu primeiro im贸vel agora", new_property_path) %>
            </div>
        <% end %>
        <table>
            <thead>
                <tr>
                    <th>T铆tulo</th>
                    <th>Descri莽茫o</th>
                    <th>Quartos</th>
                    <th colspan="2">A莽玫es</th>
                </tr>
            </thead>
            <tbody>
                <% @properties.each do |p| %>
                    <tr>
                        <td><%= link_to(p.title, property_path(p.id)) %></td>
                        <td><%= p.description %></td>
                        <td>Quartos: <%= p.rooms %></td>
                        <td><%= link_to "Editar", edit_property_path(p.id) %></td>
                        <td><%= link_to "Deletar", property_path(p.id), method: :delete,
                                        data: { confirm: "Quer apagar esse Im贸vel?" } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</main>