<header>
    <h1>🏡 Vizualização do Imóvel</h1>

    <nav>
        <%= link_to('Voltar', root_path)%>
        <hr>
    </nav>
</header>

<main>
    <div>
        <h1>
            <%= @property.title %>
        </h1>
        <h2><%= @property.description %></h2>

        <dl>
            <dt>Tipo: </dt>
            <dd><%= @property.property_type.name %></dd>

            <dt>Quartos: </dt>
            <dd><%= @property.rooms %></dd>

            <dt>Banheiros: </dt>
            <dd><%= @property.bathrooms %></dd>

            <dt>Aceita Pets: </dt>
            <% if @property.pets? %>
                <dd>Sim</dd>
            <% else %>
                <dd>Não</dd>
            <% end %>

            <dt>Estacionamento: </dt> 
            <% if @property.parking_slot? %>
                <dd>Sim</dd>
            <% else %>
                <dd>Não</dd>
            <% end %>

            <dt>Diária: </dt>
            <dd><%= number_to_currency(@property.daily_rate) %></dd>

            <dt>Imóvel de: </dt>
            <dd><%= @property.property_owner.email %></dd>
        </dl>
    </div>

    <div>
        <h3>Verificar datas</h3>
        <%= form_with model: [@property, @property_reservation] do |f| %>
            <div>
                <%= f.label :start_date, "Data de Início" %>
                <%= f.date_field :start_date %>
                <% @property_reservation.errors.full_messages_for(:start_date).each do |message| %>
                    <div class="form-error"><%= message %></div>
                <% end %>
            </div>
            <div>
                <%= f.label :end_date, "Data de Término" %>
                <%= f.date_field :end_date %>
                <% @property_reservation.errors.full_messages_for(:end_date).each do |message| %>
                    <div class="form-error"><%= message %></div>
                <% end %>
            </div>
            <div>
                <%= f.label :guests, "Quantidade de pessoas" %>
                <%= f.number_field :guests, step: 1, min: 1 %>
                <% @property_reservation.errors.full_messages_for(:guests).each do |message| %>
                    <div class="form-error"><%= message %></div>
                <% end %>
            </div>
            <%= f.submit "Enviar Reserva" %>
        <% end %>
    </div>
</main>